# 데이터베이스 설정
DB_PORT=30012
DB_HOST=localhost
DB_DATABASE=mmp_db
DB_USERNAME=mmp
DB_PASSWORD=asdf
DB_URL=jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_DATABASE}
DATABASE_URL="mysql://mmp:asdf@localhost:30012/mmp_db"

RECORDINGS_DIR=./recordings

MEDIAMTX_URL=http://localhost:9997
MEDIAMTX_HLS_PORT=8888
MEDIAMTX_WEBRTC_PORT=8889

RTSP_CHANNELS=

ONVIF_CAMERAS=[{"cameraId":"cam-01","hostname":"27.35.108.50","port":8080,"username":"admin","password":"cdp2-cam-small"}]
